[package]
name = "x11"
version = "2.0.0"
authors = ["Daggerbot <daggerbot@gmail.com>"]
description = "X11 library bindings for Rust"
license = "CC0-1.0"
repository = "https://github.com/Daggerbot/x11-rs.git"
build = "build.rs"

[features]
glx = []
xcursor = []
xf86vmode = []
xinerama = []
xinput = []
xlib = []
xmu = []
xrecord = []
xrender = []
xt = []
xtest = []

[dependencies]
libc = "*"

[build-dependencies]
pkg-config = "*"
